@using DiemDanhQR.Models;

<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link href="~/Assets/css/reponsive.css" rel="stylesheet" />
    <script src="~/Assets/js/jquery-3.4.1.min.js"></script>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Assets/js/bootstrap.js"></script>
</head>
@{
    TaiKhoanKhoa khoa = (TaiKhoanKhoa)Session["taiKhoanKhoa"];
}
<body>
    <div class="app">
        <div class="header">
            <div class="header_left">
                <div class="logo">
                    <img src="~/Assets/img/Khoa_logo_v2.png" alt="">
                </div>
                <button class="noti">
                    <i class="fas fa-bell"></i>
                </button>
                <div class="link hide-on-mobile">
                    <span>LIÊN KẾT</span>
                    <p>
                        Trang thông tin
                        <i class="fa fa-angle-down" style="zoom: 0.8;"></i>
                        <ul class="header_link-popup">
                            <li>
                                <a href="https://www.hutech.edu.vn/">
                                    <i class="fas fa-globe-americas"></i>
                                    Trang chủ HUTECH
                                </a>
                            </li>
                            <li>
                                <a href="http://qlcntt.hutech.edu.vn/ITHUTECH/Index">
                                    <i class="fas fa-globe-americas"></i>
                                    Trung tâm QLCNTT
                                </a>
                            </li>
                            <li class="">
                                <div class="line"></div>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/hutechuniversity">
                                    <i class="fab fa-facebook-square" style="color: #007BFF;"></i>
                                    HUTECH
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/hutech.itcenter/">
                                    <i class="fab fa-facebook-square" style="color: #007BFF;"></i>
                                    Trang chủ HUTECH
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="header_right">
                <button class="expand-btn header_btn">
                    <i class="fas fa-expand-arrows-alt"></i>
                </button>
                <input type="text" class="hide-on-mobile-tablet">
                <button class="logout-btn header_btn">
                    <a href="@Url.Action("DangXuat","TrangChu")">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </button>
                <button class="menu-btn header_btn toggle-bar">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="main">
            <div class="sidebar">
                <div class="sidebar_user">
                    <img src="~/Assets/img/sunny.png" alt="">
                    @if(khoa.HoTen != null)
            {
                    <p>@khoa.HoTen</p>

            }
            else
            {
                <p>Tài khoản</p>
            }
                </div>
                <ul class="sidebar_list">
                    <li>
                        <a href="@Url.Action("Index","TrangChu")">
                            <i class="fas fa-home"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    @*<li>
                            <a href="">
                                <i class="fas fa-user"></i>
                                <span>Hồ sơ cá nhân</span>
                            </a>
                        </li>*@
                    <li>
                        <a href="@Url.Action("Index","ThemThoiKhoaBieu")">
                            <i class="fas fa-calendar-alt"></i>
                            <span>Thêm thời khóa biểu</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","ThemDanhSachSinhVien")">
                            <i class="fas fa-user-plus"></i>
                            <span>Thêm danh sách sinh viên</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index","DanhSachDiemDanh")">
                            <i class="fas fa-check-circle"></i>
                            <span>Danh Sách Điểm danh</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-phone-alt"></i>
                            <span>Hỗ trợ</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-bars"></i>
                            <span>Khác</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="content">
                <div class="content_header">
                    <button class="btn-voice"></button>
                </div>
                <div class="content_holder">
                    @RenderSection("head", required: false)
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="main">
            <!-- js go here -->
        </div>
    </div>
    <script src="~/Assets/js/main.js"></script>
</body>
@RenderSection("scripts", required: false)
@RenderSection("footer", required: false)
</html>

