@using DiemDanhQR.Models;
@{
    ViewBag.Title = "LichGiangDay";
    Layout = "~/Areas/GiangVien/Views/Shared/_LayoutGiangVien.cshtml";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        /*background-color: #dddddd;*/
    }
</style>
<h2>Lịch Giảng Dạy</h2>


<table>
    <tr>
        <th>Mã MH</th>
        <th>Tên MH</th>
        <th>Nhóm</th>
        <th>STC</th>
        <th>TH</th>
        <th>Thứ</th>
        <th>Tiết BD	</th>
        <th>ST</th>
        <th>Phòng</th>
        <th>GVHD</th>
        <th>Thời gian</th>
        <th colspan="2" style="text-align:center;">Xem</th>
    </tr>
    @foreach (var item in Model)
    {
        @*if (item.LopMon.NgayKetThuc <= DateTime.Now)
            {
                <h1>tre</h1>
            }
            else
            {
                <h1>som</h1>
            }*@
<tr>
    <td>@item.LopMon.MonHoc.MaMon</td>
    <td style="width:360px;">@item.LopMon.MonHoc.TenMon</td>
    <td>@item.LopMon.Nhom_ToThucHanh.Nhom</td>
    <td>@item.LopMon.MonHoc.SoTinhChi</td>
    <td>@item.LopMon.Nhom_ToThucHanh.ToThucHanh</td>
    <td>@item.LopMon.BuoiHoc.Thu.TenThu</td>
    <td>@item.LopMon.BuoiHoc.TietBatDau</td>
    <td>@item.LopMon.BuoiHoc.SoTiet</td>
    <td>@item.LopMon.MaPhong</td>
    <td>@item.LopMon.GiaoVien.HoTen</td>
    <td>
        @item.LopMon.NgayBatDau.ToString("dd/MM/yyyy")<br />
        @item.LopMon.NgayKetThuc.ToString("dd/MM/yyyy")
    </td>
    <td><a class="btn-changeweek" href="@Url.Action("DanhSachSinhVien_gv","GiangVien",new{  malopmon = item.MaLopMon })"><i class="fas fa-user-graduate" style="color: #5CB85C; font-size: 1.1em; "></i></a></td>
    <td><a class="btn-changeweek" href="@Url.Action("DanhSachDiemDanh_gv","GiangVien",new{  malopmon = item.MaLopMon })"><i class="far fa-calendar-alt" style="color: #289AE7; font-size: 1.1em; "></i></a></td>
</tr>
    }

</table>








