@using DiemDanhQR.Models;
@using DiemDanhQR.DAO;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewBag.Title = "DanhSachDiemDanh";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";

}
@{
    int count = 0;
    DateTime date1 = ViewBag.TKB.LopMon.NgayBatDau;
    DateTime date2 = ViewBag.TKB.LopMon.NgayKetThuc;
    TimeSpan d3 = date2 - date1;
    int KhoangThoiGian = d3.Days;
    int SoBuoiHoc = KhoangThoiGian / 7 + 1;
    int ThuCuaNgayDau = 0;
    DateTime NgayDauHoc = DateTime.Now;
    int Thu = ViewBag.TKB.LopMon.BuoiHoc.MaThu;

    string CDate = date2.ToString("dd");
    string CMonth = date2.ToString("MM");
    string CYear = date2.ToString("yyyy");


    switch (date1.DayOfWeek.ToString())
    {
        case "Monday":
            ThuCuaNgayDau = 2;
            break;

        case "Tuesday":
            ThuCuaNgayDau = 3;
            break;

        case "Wednesday":
            ThuCuaNgayDau = 4;
            break;

        case "Thursday":
            ThuCuaNgayDau = 5;
            break;

        case "Friday":
            ThuCuaNgayDau = 6;
            break;

        case "Saturday":
            ThuCuaNgayDau = 7;
            break;

        case "Sunday":
            ThuCuaNgayDau = 8;
            break;
    }

    if (ThuCuaNgayDau - Thu == 0)
    {
        NgayDauHoc = date1;
    }
    else if (ThuCuaNgayDau - Thu == 1 || ThuCuaNgayDau - Thu == -6)
    {
        NgayDauHoc = date1.AddDays(6);
    }
    else if (ThuCuaNgayDau - Thu == 2 || ThuCuaNgayDau - Thu == -5)
    {
        NgayDauHoc = date1.AddDays(5);
    }
    else if (ThuCuaNgayDau - Thu == 3 || ThuCuaNgayDau - Thu == -4)
    {
        NgayDauHoc = date1.AddDays(4);
    }
    else if (ThuCuaNgayDau - Thu == 4 || ThuCuaNgayDau - Thu == -3)
    {
        NgayDauHoc = date1.AddDays(3);
    }
    else if (ThuCuaNgayDau - Thu == 5 || ThuCuaNgayDau - Thu == -2)
    {
        NgayDauHoc = date1.AddDays(2);
    }
    else if (ThuCuaNgayDau - Thu == 6 || ThuCuaNgayDau - Thu == -1)
    {
        NgayDauHoc = date1.AddDays(1);
    }
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        /*background-color: #dddddd;*/
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<h2>Bảng điểm danh</h2>

@*<a href="@Url.Action("XacNhanDanhSachDiemDanh","SinhVien" , new { MaLopMon = ViewBag.TKB.LopMon.MaLopMon})" class="">Xacs nhajn</a>*@
<table>
    <tr>

        <th>MSSV</th>
        <th>Họ Tên</th>

        @for (int i = 1; i <= SoBuoiHoc; i++)
        {
            @*<th>@date1.AddDays(7 * i - 7).ToString("dd/MM")</th>*@
            <th>@NgayDauHoc.AddDays(7 * i - 7).ToString("dd/MM")</th>
        }


    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr class="Row_Count">
            <td>@item.MSSV</td>
            <td>@item.SinhVien.HoTen</td>

            @for (int i = 1; i <= SoBuoiHoc; i++)
            {
                <td class="Delete_Column">
                    <span class="array_number" my-data="@item.BuoiHoc"></span>
                </td>
            }
        </tr>
    }

</table>
<p style="margin-top:30px"></p>
<hr />
<p style="color:red;font-size:12px;margin-top:16px;font-style:italic;">* Bạn chỉ có thể sử dụng chức năng này trong 6 ngày kể từ khi môn học kết thúc</p>
<textarea rows="4" cols="50" name="MoTa" style="width:100%; margin-top:6px;" id="MoTa" placeholder="Ghi chú thêm (các trường hợp sai xót trong danh sách điểm danh)" form="XacNhanForm">@ViewBag.TKB.MoTa</textarea>
<form method="post" action="@Url.Action("XacNhanDanhSachDiemDanh","SinhVien")" class="XacNhanForm" id="XacNhanForm" style="margin-top:10px;display:flex;justify-content:flex-end">
    <input name="MaLopMon" value="@ViewBag.TKB.LopMon.MaLopMon" hidden />
    <button type="submit" style="padding: 10px 24px; background: #3BD09C; border-radius:40px;border:none; color:#fff">Xác nhận</button>
</form>
<hr />
<script>
    const Row_Count = document.querySelectorAll('.Row_Count');
    var my_array = [];

    // lấy số lớn nhất ở các hàng
    Row_Count.forEach(row => {
        var array_number = row.querySelector('.Delete_Column .array_number').getAttribute('my-data') != null ? row.querySelector('.Delete_Column .array_number').getAttribute('my-data').split(',') : [0];
        var max_number = (Math.max.apply(Math, array_number));
        my_array.push(max_number);
    })

    var max_my_array = Math.max.apply(Math, my_array)

    // lặp từ số lớn nhất xuống, nếu mảng nào chứa buổi điểm danh nào thì hiện
    for (var j = 0; j < Row_Count.length; j++) {
        var my_row = Row_Count[j];
        //var text_number = my_row.querySelector('.Delete_Column .array_number').getAttribute('my-data');
        var array_number = my_row.querySelector('.Delete_Column .array_number').getAttribute('my-data') != null ? my_row.querySelector('.Delete_Column .array_number').getAttribute('my-data').split(',') : [0];

        const tds = my_row.querySelectorAll('.Delete_Column');
        for (var i = max_my_array; i > 0; i--) {
            if (array_number.indexOf(i.toString()) != -1) {
                tds[i - 1].innerHTML = `
                    <i class="fas fa-check DaDiemDanh"></i>
                `;
            }
            else {
                tds[i - 1].innerHTML = `
                    <i class="fas fa-times ChuaDiemDanh"></i>
                `;
            }

        }
    }


    var test = new Date();
    var date = test.getDate();
    var month = Number(test.getMonth())+1;
    var year = test.getFullYear();
    var JSdate = (month + "/" + date  + "/" + year).toString()



    const XacNhanFormBtn = document.querySelector('.XacNhanForm button')
    const XacNhanFormInput = document.querySelector('.XacNhanForm #NgayXacNhan')
    const MoTaForm = document.querySelector('#MoTa')
    let distanceDay = date - @CDate
    if (date == @CDate && @CMonth == month && @CYear == year || date - @CDate == 1 && @CMonth == month && @CYear == year ||
        date - @CDate == 2 && @CMonth == month && @CYear == year || date - @CDate == 3 && @CMonth == month && @CYear == year ||
        date - @CDate == 4 && @CMonth == month && @CYear == year || date - @CDate == 5 && @CMonth == month && @CYear == year ||
        date - @CDate == 6 && @CMonth == month && @CYear == year ||
        date - @CDate == -24 && @CMonth == month - 1 && @CYear == year || date - @CDate == -25 && @CMonth == month - 1 && @CYear == year ||
        date - @CDate == -26 && @CMonth == month - 1 && @CYear == year || date - @CDate == -27 && @CMonth == month - 1 && @CYear == year ||
        date - @CDate == -28 && @CMonth == month - 1 && @CYear == year || date - @CDate == -29 && @CMonth == month - 1 && @CYear == year ||
        date - @CDate == -30 && @CMonth == month - 1 && @CYear == year ||
        date - @CDate == -24 && @CMonth == 12 && @CYear == year - 1 || date - @CDate == -25 && @CMonth == 12 && @CYear == year - 1 ||
        date - @CDate == -26 && @CMonth == 12 && @CYear == year - 1 || date - @CDate == -27 && @CMonth == 12 && @CYear == year - 1 ||
        date - @CDate == -28 && @CMonth == 12 && @CYear == year - 1 || date - @CDate == -29 && @CMonth == 12 && @CYear == year - 1 ||
        date - @CDate == -30 && @CMonth == 12 && @CYear == year - 1) {
        console.log('ok')
    }
    else {
        XacNhanFormBtn.setAttribute('disabled', 'disabled')
        XacNhanFormBtn.style.background = '#DFE0EB'
        XacNhanFormBtn.style.color = '#ABACB8'
        MoTaForm.setAttribute('disabled', 'disabled')
    }

    XacNhanFormBtn.onlick = () => {
        alert('ok');
    }
    //if (JSdate == CDate) {
    //    console.log('ngày bên C# trùng ngày bên JS')
    //} else {
    //    console.log('ngày bên C# không trùng ngày bên JS')
    //    XacNhanForm.setAttribute('disabled', 'disabled')

    //}
</script>