@using DiemDanhQR.Models;

@{
    ViewBag.Title = "ThoiKhoaBieu";
    Layout = "~/Views/Shared/_LayoutSinhVien.cshtml";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
    }

    th {
        background-color: #362F4B;
        color: #fff;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #F6F6F6;
    }

    .TKB {
        width: 100px;
        margin-bottom: 16px;
    }
</style>
@*<img class="TKB" src="https://nss.edu.vn/uploads/news/topics/thoi-khoa-bieu.jpeg" />*@
<h2 style="display:inline-block;">Thời Khóa Biểu</h2>

<table>
    <tr>
        <th>Mã MH</th>
        <th>Tên MH</th>
        <th>Nhóm</th>
        <th>STC</th>
        <th>TH</th>
        <th>Thứ</th>
        <th>Tiết BD	</th>
        <th>ST</th>
        <th>Phòng</th>
        <th>GVHD</th>
        <th>Thời gian</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LopMon.MonHoc.MaMon</td>
            <td style="width:360px;">@item.LopMon.MonHoc.TenMon</td>
            <td>@item.LopMon.Nhom_ToThucHanh.Nhom</td>
            <td>@item.LopMon.MonHoc.SoTinhChi</td>
            <td>@item.LopMon.Nhom_ToThucHanh.ToThucHanh</td>
            <td>@item.LopMon.BuoiHoc.Thu.TenThu</td>
            <td>@item.LopMon.BuoiHoc.TietBatDau</td>
            <td>@item.LopMon.BuoiHoc.SoTiet</td>
            <td>@item.LopMon.MaPhong</td>
            <td>@item.LopMon.GiaoVien.HoTen</td>
            <td>
                @item.LopMon.NgayBatDau.ToString("dd/MM/yyyy")<br />
                @item.LopMon.NgayKetThuc.ToString("dd/MM/yyyy")
            </td>
        </tr>
    }

</table>








